/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}


/******************************************
/* BASE STYLES
/*******************************************/

body {
     /*BK- don't use % for font size- px, rem, or em*/
     font-size: 62.5%;
}

span, h2{
     font: 400 normal 2rem/2rem Arial, sans-serif;
}



/******************************************
/* LAYOUT
/*******************************************/
main{
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
}

#calc-body{
     height: 500px;
     width: 365px;
     border: 2px solid black;
     border-radius: 10%;
    
}

#display{
     height: 100px;
     width: 90%;
     margin: 20px;
     display: flex;
     justify-content: flex-end;
     align-items: flex-end;
     border: 1px solid rgba(99, 99, 99,1);
     border-radius:  3%;
}

.bottom{
     height: 360px;
     width: 100%;
     display: flex;
     border: 2px solid black;
     border-bottom-right-radius: 12%;
     border-bottom-left-radius: 12%;
}

.number-pad{
     height: 360px;
     width: 75%;
     border-right: 2px solid  rgba(99, 99, 99,1);
     border-bottom-right-radius: 13%;
     border-bottom-left-radius: 13%;
}

.number-pad > div{
     height: 90px;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     border-top: 1px solid rgba(99, 99, 99,1);
}

.number-pad > div > div >span{
     padding: 27px 35px;
     border-right: 1px solid rgba(99, 99, 99,1);
     border-left: 1px solid rgba(99, 99, 99,1);
}

#zero{
     padding: 27px 35px 21px 35px;
     border-right: .1rem solid rgba(99, 99, 99,1);
     border-left: .1rem solid rgba(99, 99, 99,1);
}

.operator-pad{
     width: 25%;
     display: flex;
     flex-flow: column;
     align-items: center;
     justify-content: space-evenly;
}

.operator-pad >div{
     width: 100%;
     height: 72px;
     font-size: 1.5rem;
     align-content: center;
     display: flex;
     align-items: center;
     justify-content: center;
     border-top: 1px solid rgba(99, 99, 99,1);
}

.operator, .equal-sign>span{
     padding: 21px 38px;

}
.equal-sign{
     flex-basis: 144px;
     flex-grow: 1;
     border-bottom-right-radius: 10%;
}